{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style/registration.css' %}">
    <script>
        function registered(){
            let p1 = document.getElementById('password1').value;
            let p2 = document.getElementById('password2').value;
            if (p1 != p2){
                alert("Password not matching")
            }
        }
    </script>
</head>
<body>
    <div class="main">
        <div class="container">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="input-div">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" required>
                </div>
                <div class="input-div">
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name" id="first_name" required>
                </div>
                <div class="input-div">
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name" id="last_name" required>
                </div>
                <div class="input-div">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="input-div">
                    <label for="password1">Password</label>
                    <input type="password" name="password1" id="password1" required>
                </div>
                <div class="input-div">
                    <label for="password2">Confirm Password</label>
                    <input type="password" name="password2" id="password2">
                </div>
                <div class="submit-div">
                    <input type="submit" value="Register" onclick="registered()">
                </div>
                {% for message in messages %}
                <div class="message-area">{{message}}</div>
                {% endfor %}
            </form>
        </div>
    </div>
</body>
</html>